@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.page-header {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  height: 65px;
}

.page-header-logo {
  width: 139px;
  margin-left: 70px;
  margin-right: 47px;
  display: block;
}

.main-container {
  flex-grow: 1;
}

.advantages {
  text-align: center;
}

/* .advantages-icons {
  fill: #FFFFFF;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
} */

.advantages-head-container {
  display: flex;
  flex-direction: column;
  width: 654px;
  margin: 0;
  padding: 33px 273px 90px 273px;
}

.advantages-item {
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-row {
  display: flex;
  flex-direction: row;
}

.item-container {
  display: flex;
}

.item-picture {
  display: flex;
  width: 800px;
  padding: 0;
  margin: 0;
}

.advantages-block {
  display: flex;
}

.town-block,
.devil-block {
  background-color: #82b3d3;
}

.town-description::before {
  content: "— №1 —";
  display: block;
  padding-bottom: 31px;
  padding-top: 32px;
}

.devil-description::before {
  content: "— №2 —";
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
}

.square-description::before {
  content: "— №3 —";
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
}

.road-description::before {
  content: "— №4 —";
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
}

.tourists-description::before {
  content: "— №5 —";
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
}

.devil-block {
  flex-direction: row-reverse;
}

.square-block,
.tourists-block {
  background-color: rgba(131, 179, 211, 0.12);

  width: 400px;
  height: 383px;
}

.road-block {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 383px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  padding: 92px 85px;
  width: 230px;
  gap: 10px;
}

.house {
  background-image: url(../images/icons/house.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #83B3D31F;
  min-height: 384px;
  margin-top: 150px;
}

.search {
  display: flex;

  height: 19px;
  width: 19px;
  margin: 0;

  padding: 0;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.favorite {
  display: flex;
  height: 20px;
  width: 19px;
  margin: 0;
  position: absolute;
  padding: 0;
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-count {
  box-sizing: border-box;
  position: absolute;
  left: 11px;
  top: -10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  background: #7db54f;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 3px;
  z-index: 1;
}

.food {
  background-image: url(../images/icons/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 384px;
}

.advantages-description,
.advantages-title {
  width: 230px;
  height: 46px;
  margin: 0;
  padding: 0;
}

.gift {
  background-image: url(../images/icons/gift.svg);
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
  background-position-y: 81px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 384px;
  background-color: #83B3D31F;
  margin-top: 152px;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 891px;
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  width: 430px;
  gap: 34px;
  align-items: flex-start;
}

.navigation-user {
  max-width: 284px;
  margin-left: auto;
  margin-right: 16px;
  justify-content: flex-end;
  gap: 28px;
}

.navigation-user:nth-child(3n) {
  padding-right: 200px;
}

.navigation-link {
  position: relative;
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
}

.navigation-link-current::before {
  position: absolute;
  right: -1px;
  bottom: 0;
  left: -1px;
  margin-bottom: -20px;
  height: 2px;
  background-color: #756157;
  content: "";
}

.catalog-filter-title {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}

.catalog-filter-group {
  width: 151px;
  height: 149px;
  border-color: rgba(0, 0, 0, 0);
}

.catalog-filter-wrap {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-cost {
  width: 289px;
}

.catalog-filter-infrastructure .catalog-filter-item:nth-child(1) {
  padding-top: 30px;
}

.catalog-filter-type-house .catalog-filter-item:nth-child(1) {
  padding-top: 30px;
}

.catalog-filter-item {
  padding-bottom: 15px;
}

.catalog-buttons {
  width: 161px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88px;
}

.filter-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.backup-button {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px 35px;
  width: 160px;
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.backup-button:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.backup-button:focus {
  color: #ffffff;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.backup-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-index-image {
  background-image: url("../images/index-background-full.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
  height: 485px;
  margin: 0;
  padding: 0;
}

.advantages-head {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.comment {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  width: 655px;
}

.comment-invite {
  width: 592px;
  padding-bottom: 55px;
}

.advantages-list {
  text-align: center;

  color: #ffffff;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.advantages-description,
.counter-hotel-title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.counter-hotel-page {
  display: flex;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 21px;
  width: 143px;
  height: 21px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.blue-description {
  color: #ffffff;
}

.grey-description {
  color: #333333;
  margin: 0;
  padding: 0;
}

.grey-head {
  color: #000000;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.list-for-town {
  background-color: #ffffff;
  color: #000000;
  display: grid;
  grid-template-areas: "house-block food-block gift-block";
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-card {
 display: grid;
 grid-template-columns: 230px;
 grid-template-rows: 72px 28px 63px;
 gap: 30px;
 padding: 80px 85px 70px 85px;
}

.advantages-title-for-town {
  text-transform: uppercase;
  font-size: 24px;
  grid-row: 2/3;
  margin: 0;
}

.advantages-description-for-town {
  font-size: 18px;
  grid-row: 3/4;
  margin: 0;
  line-height: 21px;
}

.invite-to-search {
  text-align: center;
  padding: 61px 304px 93px 304px;
}

.invite-question {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.invite-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-color: #756157;
  border-radius: 4px;
  padding: 9px 35px;
  min-width: 160px;
}

.big-button {
  width: 574px;
  height: 60px;
  font-size: 20px;
  padding: 19px 76px;
  border-width: 0;
  font: inherit;
  font-size: 20px;
}

.button-more {
  display: inline-block;
  max-width: 140px;
  height: 37px;
  padding: 5px 11px 5px 11px;
  border-width: 0;
  margin-right: 20px;
  min-width: 140px;
}

.button:hover,
.button:focus {
  background-color: #615048;
  cursor: pointer;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite,
.button-submit {
  background-color: #82b3d3;
  border-color: #82b3d3;
}

.button-favorite {
  display: inline-block;
  width: 140px;
  height: 37px;
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-color: #82b3d3;
  border-width: 0;
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
}

.button-favorite:focus,
.button-favorite:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button-favorite:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button-submit:focus {
  border: 3px solid #ffffff;
  color: #ffffff;
}

.button-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorite-checked {
  background-color: #7db54f;
  cursor: pointer;
}

.button-favorite-checked:hover,
.button-favorite-checked:focus {
  background-color: #6c9e42;
  cursor: pointer;
}

.button-favorite-checked:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button-favorite:disabled,
.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-submit {
  padding: 15px;
  text-align: center;
  border-radius: 4px;
}

.invite-to-subscribe {
  background-image: url(../images/footer-background.jpg);
  color: #ffffff;
  background-repeat: no-repeat;
  height: 411px;
}

.invite-to-subscribe-catalog {
  width: 1200px;
  height: 411px;
}

.footer-social {
  max-width: 138px;
  height: 120px;
}

.footer-social-list {
  display: flex;
  width: 116px;
  justify-content: space-between;
  padding: 0 84px;
  list-style: none;
  margin: 0;
  margin-top: 53px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;

}

.logo-academy {


}

.subscribe-button {
  background-color: #82b3d3;
  width: 200px;
  height: 62px;
  font-size: 18px;
  padding: 12px 15px;
  border-style: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-style: inherit;
}

.invite-description {
  width: 475px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  margin-top: 30px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
  cursor: pointer;
}

.subscribe-container {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 200px 600px 200px 200px;
}

.email-field {
  width: 600px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  margin: 0;
  padding: 20px 22px;
  display: grid;
  grid-column: 2/3;
  border-radius: 10px;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  border-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inner-header-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.inner-header {
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  background-color: #000000;
  margin-bottom: 73px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.counter-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 10px;
}

.hotels-number {
   margin: 0;
  width: 160px;
  margin-bottom: 30px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

.hotel-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 57px;
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hotel-card-img {
  object-fit: contain;
}

.hotel-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hotel-card:nth-child(3n) {
  padding-right: 0;
}

.inner-card-wrap {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-wrap-catalog {
  width: 1057px;
  margin-left: auto;
  margin-right: auto;
}

.select-control {
  display: flex;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 19px 14px 19px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.control-wrap {
  display: flex;
  width: 1057px;
  justify-content: space-between;
}

.card-buttons-wrap {
  display: flex;
  width: 300px;
  margin: 0;
}

.catalog-filter-title {
  color: #ffffff;
}

.catalog-filter-list {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}

.catalog-hotels {
  display: flex;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  position: relative;
  width: 111px;
  list-style-type: none;
  justify-content: space-between;
}

.breadcrumbs-item {
  padding: 0;
  margin: 0;
}

.breadcrumbs-item:nth-child(2n) {
  margin-top: 4px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.hotels-link:hover,
.hotels-link:focus {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.hotels-link:active {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.breadcrumbs-icon {
  display: block;
  margin-top: 5px;
  margin-left: 70px;
}

.breadcrumbs-icon::after {
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  width: 6px;
  height: 9px;
  background-position: center;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 22px;
  margin-top: 45px;
  content: "";
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.card-grid-toggle {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: 48px;
  grid-template-areas: "cards slider list";
  gap: 8px;
  box-sizing: border-box;
  padding-top: 2px;
}

.cards,
.slider,
.list {
  min-width: 48px;
  margin-right: auto;
  margin: 12px;
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
  align-self: center;
  padding: 14px 0 14px 0;
}

.cards:hover,
.slider:hover,
.list:hover {
  outline: 2px solid #000000;
  background-color: #ffffff;
}

.cards:focus,
.slider:focus,
.list:focus {
  outline: 2px solid #68a2ca;
  background-color: #ffffff;
}

.cards:active,
.slider:active,
.list:active {
  outline: 2px solid #000000;
  background-color: #ffffff;
}

.card-grid-toggle-current {
  outline: 2px solid #000000;
  background-color: #ffffff;
}

.inner-header-title {
  padding-left: 70px;
  padding-top: 52px;
  margin: 0;
}

.catalog-filter {
  width: 1060px;
  margin: 40px 70px 70px 70px;
}

.logo-academy {
  margin: 0;
  padding-right: 69px;
  padding-top: 20px;
}

.phone {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  padding-top: 5px;
  padding-left: 25px;
}


.phone:hover,
.phone:focus {
  color: #756157;
  cursor: pointer;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.advantages-image {
  color: #000000;
  width: 800px;
  height: 384px;
}

.hotel-card-title,
.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.rating-list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas: "stars rating";
  gap: 20px;
}

.rating {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 9px;
  grid-column: 2/3;
  position: relative;
  border-radius: 4px;
}

.stars {
  position: absolute;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  width: 78px;
  height: 18px;
  margin-top: 5px;
  background-position: center;
  content: "";
}

.stars-desert {
  width: 55px;
}

.stars-greentree {
  width: 45px;
}

.counter-hotel-title {
  color: #333333;
  width: 338px;
  margin-top: 20px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 9px 16px;
}

.pagination-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-show-more {
  border-color: #82b3d3;
  border-width: 0;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  cursor: pointer;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus {
  background-color: #f2f2f2;
  cursor: default;
}

.pagination-current:active {
  background-color: #f2f2f2;

  color: #000000;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 354px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.paginatin-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-container {
  position: relative;
  display: flex;
  width: 1056px;
  justify-content: space-between;
  margin-top: 76px;
}

.pagination-container::before {
  position: absolute;
  right: 1px;
  bottom: 145px;
  left: 1px;
  margin-bottom: -20px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.footer-logo-icon:hover,
.footer-logo-icon:focus {
  fill: #756157;
}

.footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-social-icon {
  fill: #83b3d3;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: #68a2ca;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}
